nav img{
  width: 70px;
  padding: 10px;
}
nav{
  background-color: skyblue;
}
ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}
ul{
  float: right;
}
li a{
  cursor: pointer;
  text-decoration: none;
  color: white;
}
